@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: "Poppins",sans-serif;
    text-transform: capitalize;
    min-height: 100vh;
    background-image: url("../img/Fondo/fondo.avif");
    background-size: cover;
    background-position: center;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0,.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.Logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 2.5rem;
}

#check{
    display: none;

}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;

}


/*contenedor de video*/
.media{
    background-color: black;
    height: 100vh;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content:end;
    flex-direction: column;
}

.titulo {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.video{
    margin: 10;
    padding: 10;
    width: 80%;
    height: 80%;
}

/*placas divisoras*/
.divisores{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.placa-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: #59595e;
    margin: auto;
    padding: auto;
    border-radius: 20px 20px 0 0;
}

.novedad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/**/
.noticias{
    display: flex;
    width: 50%;
    height: 50%;
}

.link-1 a{
    font-size: 13px;
    display: block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
/**/
.leaks{
    display: flex;
    width: 250px;
    height: 125px;
    border-radius: 20px 20px 0 0;
}
.link-2 a{
    font-size: 13px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}
/**/
.twitch{
    width: 250px;
    height: 125px;
    border-radius: 20px 20px 0 0;
}
.link-3 a{
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: #ffffff;
}


.main-content{
    background-color: hsl(0, 0%, 0%);
}

.elementos{
    display: grid;
    grid-template-columns: 6 1fr;
}

h2{
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.personajes{
    padding: 100px 0;
    text-align: center;
}

.personajes-content{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.personajes-content img{
    width: 150px;
}

.personajes-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.personaje-1{
    width: 150px;
    height: 200px;
    background-color: #59595e;
    display: inline-block;
    justify-content: space-between;
}



/*lista de personajes*/
.personajes-glacio{
    display: flex;
}
.personajes-fusion{
    display: flex;
}
.personajes-electro{
    display: flex;
}
.personajes-aero{
    display: flex;
}
.personajes-espectro{
    display: flex;
}
.personajes-destruccion{
    display: flex;
}

.nombre{
    padding: 5px 5px;
}

/* media cueris navbar*/
@media (max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width:768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0, 0,.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(-50px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}


/*footer*/
.container{
    max-width: 1200px;
    margin: auto;
}

.footer{
    background-color: #282828;
    padding: 70px 0;
    color: #fff;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-links h4{
    margin: 20px;
    text-transform: uppercase;
    font-size: 15px;
}

.footer-links a {
    display: block;
    color: #707070;
    text-decoration: none;
    margin-bottom: 7px;
    font-size: 17px;
}

.footer-links a:hover{
    color: #37d4ff;
}

.input-send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input-send{
    width: 300px;
    height: 40px;
    padding: 14px 15px;
    font-size: 16px;
    background-color: #59595e;
    color: #ffffff;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: 0;
}

.input-send input::placeholder{
    color: #afafaf;
}

.input-send button {
    height: 40px;
    padding: 13px 15px;
    background-color: #ffa837;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.social-link{
    display: flex;
}

.social-link {
    color: #fff;
    font-size: 17px;
    margin-right: 20px;
}

.derechos{
    text-align: center;
    color: #fff;
}

@media(max-width:768px){
    .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-links{
        margin-bottom: 30px;
    }
    .input-send{
        justify-content: center;
    }
    .social-link{
        justify-content: center;
    }
    .social-link a:last-child{
        margin: 0;
    }
}

.personajes{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.main-content{padding: 10%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #282828;
    background-position: center;
    background-size: auto;
}

.contenedor-de-filtros{
    margin: 10px;
    padding: 10px;
    display: flex;
}


.elementos{
    display: flex;
}